@charset "UTF-8";

/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Instruments Sans", sans-serif;
}

 /* Cores padrão */ 

:root {
    --color1: #FD5F5F;
    --color2: #70CF89;
    --color3: #F5F5F5;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    
}

.register-box {
    margin-top: 100px;

    width: 100vw;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.pics {
    text-align: center;
}

.red-logo {
    width: 300px
 
}

.title {
    font-weight: 500;
    font-size: 1.8em;

    margin: 15px 0px 5px;
}

.subtitle {
    font-size: 0.8em;
}

.button-box {
    margin: 20px 0px;
    width: 80%;

    align-items: center;
    text-align: center;
    flex-direction: row;
}

.button-1, .button-2 {
    width: 80px;
    border-radius: 5px;
    box-shadow: 0x 0x 5px 10px black;
    font-size: 0.8em;
    
    padding: 5px 10px;

    cursor: pointer;

    outline: none;
    border: none;
}

.button-1 {
    background-color: var(--color1);
    color: var(--color3);
}

.button-2 {
    background-color: var(--color3);
    width: fit-content;
}

.subtitle {
    font-size: 0.6em;
}

.reg-log {
    font-size: 0.6em;
}

