@media screen and (min-width: 768px) and (max-width: 1079px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        
        text-align: center;
    }

    .register-box {
    margin-top: 0px;

    width: 600px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.pics {
    text-align: center;
}

.red-logo {
    width: 500px;
    margin: 0px 0px 30px;
}

.title {
    font-weight: 500;
    font-size: 2em;

    margin: 15px 0px 5px;
}

.subtitle {
    font-size: 1em;
}

.button-box {
    margin: 50px 0px;
    width: 80%;

    align-items: center;
    text-align: center;
    flex-direction: row;
}

.button-1, .button-2 {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0x 0x 5px 10px black;
    font-size: 1.2em;
    
    padding: 5px 10px;

    cursor: pointer;

    outline: none;
    border: none;
}

.button-1 {
    background-color: var(--color1);
    color: var(--color3);
}

.button-2 {
    background-color: var(--color3);
    width: fit-content;
}

.subtitle {
    font-size: 1em;
}

.reg-log {
    font-size: 0.8em;
}


.forms {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.standart-input {
    width: 320px;
}

}

@media screen and (min-width: 1080px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        text-align: center;
    }

    .register-box {
    margin-top: 0px;

    width: 100vw;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.pics {
    text-align: center;
}

.red-logo {
    width: 500px;
    margin: 0px 0px 30px;
}

.title {
    font-weight: 500;
    font-size: 2em;

    margin: 15px 0px 5px;
}

.subtitle {
    font-size: 1em;
}

.button-box {
    margin: 50px 0px;
    width: 80%;

    align-items: center;
    text-align: center;
    flex-direction: row;
}

.button-1, .button-2 {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0x 0x 5px 10px black;
    font-size: 1.2em;
    
    padding: 5px 10px;

    cursor: pointer;

    outline: none;
    border: none;
}

.button-1 {
    background-color: var(--color1);
    color: var(--color3);
}

.button-2 {
    background-color: var(--color3);
    width: fit-content;
}

.subtitle {
    font-size: 1em;
}

.reg-log {
    font-size: 0.8em;
}
}